@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg: black;
    --bg-card: #272d37;
    --border-buttom: rgb(185, 39, 68);
    --bg-clip-h2: linear-gradient(to bottom, #dddf3b 20%, #a51818 100%);;
    --text-color: aliceblue;
}

.container {
    /* width: 100vw;
    height: 100vh; */
    background: var(--bg);
    padding: 5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.card {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    background: var(--bg-card);
    width: 300px;
    height: 450px;
    border-radius: 1rem;
}

.top {
    height: 50%;
    width: 100%;
}

.img-city {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.img-flash {
    position: absolute;
    top: -75px;
    width: 200px;
}

.bottom {
    position: relative;
    height: 50%;
    width: 100%;
    padding: 0 .7rem
}

.card h2 {
    background: var(--bg-clip-h2);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-top: 0.9rem;
    margin-bottom: -0.1rem;
    font-size: 2rem;
    font-weight: bold;
}
.card p {
    font-size: .8rem;
    color: var(--text-color);
}

button {
    position: absolute;
    padding: 0.8rem 1.2rem;
    bottom: 15px;
    right: 15px;
    outline: none;
    color: var(--text-color);
    font-size: .8rem;
    background: transparent;
    border-radius: .8rem;
    color: var(--text-color);
    border: 1px solid var(--border-buttom);
    cursor: pointer;
}

.card:hover, button:hover {
    box-shadow: 0 0 25px 0 var(--border-buttom);
}

button:hover {
    background: var(--border-buttom);
}

button:active {
    border: 1px solid whitesmoke;
}

.img-flash:hover {
    filter: drop-shadow(0 0 10px #dddf3b);
}

